.homephoto {width: 1480px;}

.creationsheaderphoto {display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;}

.img-thumbnail {margin-left: 140px;
   margin-top: 30px;}

#creationcard {margin-left: 400px;
   margin-top: 100px;
   border-color: #c9b8ed;
   border-radius: 20px;}

.card-title	   {font-family: Vidaloka;
  font-size: 50px;}

.card-title2	   {font-family: Vidaloka;
  font-size: 35px;}

.card-title3	   {font-family: Vidaloka;
  font-size: 50px;}

.card-title4	   {font-family: Vidaloka;
  font-size: 50px;}

.card-text	   {font-family: Vidaloka;
  font-size: 20px;}


#Jewelry 	   {font-family: Vidaloka;
  font-size: 50px;}

#Journey      {font-family: Vidaloka;
  font-size: 50px;
   margin-top: 50px;}

#carouselExampleFade  {margin-left: 140px;
   margin-top: 30px;
width: 450px;}

#summercard    {margin-left: 400px;
   margin-top: 100px;
   background-color: #fefbdf;
   border-radius: 20px;}

#carouselExampleFade2 {margin-left: 140px;
   margin-top: 80px;
   width: 450px;}

#springcard    {margin-left: 400px;
   margin-top: 150px;
   background-color: #f8e2fc;
   border-radius: 20px;}

#carouselExampleFade3 {margin-left: 140px;
   margin-top: 80px;
   width: 450px;}

#wintercard    {margin-left: 400px;
   margin-top: 150px;
   background-color: #bdd9ff;
   border-radius: 20px;}

#carouselExampleFade4 {margin-left: 140px;
   margin-top: 80px;
   width: 450px;}

#fallcard    {margin-left: 400px;
   margin-top: 150px;
   background-color: #fce1b1;
   border-radius: 20px;}

 #carouselExampleFade5 {margin-left: 140px;
   margin-top: 80px;
   width: 450px;}

#morecard    {margin-left: 400px;
   margin-top: 150px;
   background-color: #c9ffd6;
   border-radius: 20px;}

 #endcreations  {font-size: 30px;
   font-family: Vidaloka;
   margin-top: 50px;}

 #endlogo    {margin-left: 670px;
    width: 200px;}

#socialheader {margin-left: 30px;}

#journeyheader {margin-left: 30px;}

#smallheader {margin-left: 30px;}

#socialcard {margin-left: 400px;
   margin-top: 120px;
   border-color: #c9b8ed;
   border-radius: 20px;}

#journeycard {margin-left: 360px;
   margin-top: 50px;
   border-color: #c9b8ed;
   border-radius: 20px;}


#instalogo  {margin-left: 100px; }

#visitbutton {margin-left: 620px;
	width: 300px;}

#jamiecard {margin-left: 140px;

	margin-top: 180px;}

#jamie     {margin-top: 50px;
	margin-left: 350px;}

#shopphoto  {margin-top: 150px;
	margin-left: 350px;}

#drop {margin-top: 200px; 
	margin-left: 695px;
	font-family: Vidaloka;}


